// WP-Indicators SCSS
// Author: Koury Lape
// Email: kll64@pitt.edu

// Table of Contents
// Custom WP-Indicators CSS
//
// 00. Globals
// 01. Header
// 02. Navigation
// 03. Breadcrumbs
// 04. Front Page
// 05. Indicators
// 06. Footer

//

// 00. Globals
// - - - - - - - - - - - - - - - - - - - - - - - - -
#main-content-wrapper {
  background-color: $silver;
  padding: rem-calc(12 0);
}
#single-post, #single-indicator, #search-results, #indicator-sources, #indicator-header {
  background: $white;
  padding: rem-calc(12);
  h5 {
    margin-bottom: rem-calc(3);
    font-weight: bold;
  }
}
a {
  &.th.left {
    margin: 0 rem-calc(7) rem-calc(5) 0;
  }
  &.subtle-link {
    color: $jumbo;
    &:hover {
      color: scale_color($jumbo, $lightness: 15%);
      text-decoration: underline;
    }
  }
}
.post-grid {
  article {
    padding: rem-calc(12);
    background: $white;
  }
  hr {
    margin-top: 0;
  }
  h3 {
    color: $primary-color;
  }
  .entry-content {
    margin-top: rem-calc(15);
  }
}
.addtoany_share_save_container {
  @extend .hide-for-print;
}



// 01. Header
// - - - - - - - - - - - - - - - - - - - - - - - - -
#header {
  background-color: $white;
  padding: rem-calc(12) 0 0 0;
  #header-left {
    margin-bottom: rem-calc(12);
  }
  #header-right {
    border-left: 3px solid $monsoon;
    margin-bottom: rem-calc(12);
    .slogan {
      color: $test2;
    }
    .postfix {
      padding: 0 3px;
    }
    .signup-info {
      font-size: 14pt;
      line-height: rem-calc(35);
    }
  }
}

// 02. Navigation
// - - - - - - - - - - - - - - - - - - - - - - - - -
#navgiation {
  background-color: $topbar-bg;
  i {
    margin: 0;
    padding: 0;
  }
}

// 03. Breadcrumbs
// - - - - - - - - - - - - - - - - - - - - - - - - -
.breadcrumbs-container {
  margin-bottom: rem-calc(12);
  span[property="v:title"] {
    color: $secondary-color;
  }
  .breadcrumbs span[typeof="v:Breadcrumb"]:last-child span[property="v:title"],
  .breadcrumbs a[property="v:title"] {
    display: inline-block;
    padding: 0;
    margin-top: -3px;
    vertical-align: middle;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// 04. Front Page
// - - - - - - - - - - - - - - - - - - - - - - - - -
.recent-post {
  .th {
    margin: 2px 5px 0 0;
  }
  h4 {
    color: $test3;
  }
}
.indicators-menu {
  h3 {
    margin-bottom: 0;
  }
  li {
    font-size: 16pt;
  }
  hr {
    margin-bottom: 0;
  }
}
.whats-new {
  hr {
    margin: 0;
  }
  .title {
    margin: rem-calc(10 0);
    font-weight: bold;
  }
  .excerpt {
    margin: 0;
  }
  .category {
    margin: rem-calc(10 0);
  }
}

// 05. Indicators
// - - - - - - - - - - - - - - - - - - - - - - - - -
.content-container {
  > .row {
    background: $silver;
    .wrapper {
      background: $white;
      padding: rem-calc(12);
    }
  }
  .single-indicator {
    h1 {
      i:before {
        font-size: 2.75rem;
      }
    }
    hr {
      margin: rem-calc(5 0);
    }
  }
  #indicator-header {
    border-bottom: 1px solid $smoke;
    a {
      font-size: rem-calc(16);
      line-height: rem-calc(29);
    }
    label {
      margin: 0;
      padding: 0;
      font-size: rem-calc(16);
      color: $primary-color;
      line-height: rem-calc(29);
      display: inline;
    }
    select {
      margin: 0;
      padding: rem-calc(5 15 5 0);
      height: auto;
      width: auto;
      font-size: rem-calc(13);
    }
    @media #{$small-only} {
      #indicator-measures {
        text-align: center;
        padding-bottom: rem-calc(10);
      }
    }
  }
  .view_panel {
    #chartmsg {
      color: $jumbo;
      font-size: rem-calc(11);
      margin-bottom: rem-calc(25);
    }
    #chart_img {
      margin-bottom: rem-calc(25);
    }
    .measure-item {
      input {
        margin: 0;
        padding: 0;
      }
      label {
        margin: 0;
        padding: 0;
      }
    }
  }
  #indicator-sources {
    p {
      margin: 0;
    }
  }
}

// 06. Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -
#footer {
  background: $primary-color;
  color: $silver;
  h3 {
    color: $white;
    margin-top: rem-calc(15);
  }
  .social-link {
    color: $white;
    &:hover {
      color: $test3;
    }
    i:before {
      font-size: rem-calc(48);
    }
  }
}
.sidenav-footer {
  @include side-nav(
    // Border color of divider
  $divider-color: '#ccc',
    // Font size of nav items
  $font-size:1.1em,
    // Color of navigation links
  $link-color: $white,
    // Color of navigation links on active
  $link-color-active: $silver,
    // Color of navigation links on hover
  $link-color-hover: scale-color($secondary-color, $lightness: -15%)
  );
}
#sub-footer {
  margin: 0;
  background: $test3;
  p {
    padding: 3px 0;
    margin: 0;
    color: $monsoon;
  }
}

// 06. Latest Tweets
// - - - - - - - - - - - - - - - - - - - - - - - - -
.latest-tweets {
  padding-bottom: rem-calc(10);
  hr {
    margin: rem-calc(10) 0;
  }
  .tweet {
    color: $white;
    margin: 0;
    a {
      color: $secondary-color;
      &:hover {
        color: scale-color($secondary-color, $lightness: -15%);
        text-decoration: underline;
      }
    }
  }
}


