.flaticon-arts:before {
  content: "\e00f";
}
.flaticon-demographics:before {
  content: "\e016";
}
.flaticon-economy:before {
  content: "\e00d";
}
.flaticon-education:before {
  content: "\e000";
}
.flaticon-environment:before {
  content: "\e00b";
}
.flaticon-government:before {
  content: "\e009";
}
.flaticon-health:before {
  content: "\e015";
}
.flaticon-housing:before {
  content: "\e001";
}
.flaticon-public-safety:before {
  content: "\e012";
}
.flaticon-transportation:before {
  content: "\e002";
}
.flaticon-download:before {
  content: "\e003";
}

.nav-icon {
  i:before {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 1px;
    padding-right: 7px;

  }
  &.arts {
    i:before {
      content: "\e00f";
    }
  }
  &.demographics {
    i:before {
      content: "\e016";
    }
  }
  &.economy {
    i:before {
      content: "\e00d";
    }
  }
  &.education {
    i:before {
      content: "\e000";
    }
  }
  &.environment {
    i:before {
      content: "\e00b";
    }
  }
  &.government {
    i:before {
      content: "\e009";
    }
  }
  &.health {
    i:before {
      content: "\e015";
    }
  }
  &.housing {
    i:before {
      content: "\e001";
    }
  }
  &.public-safety {
    i:before {
      content: "\e012";
    }
  }
  &.transportation {
    i:before {
      content: "\e002";
    }
  }
}