/* 
 * 	Default theme - Owl Carousel CSS File
 */

$color-base:			#869791;
$color-white:			#FFF;
$color-gray:			#D6D6D6;

//nav

$nav-color: 			$color-white;
$nav-color-hover:		$color-white;
$nav-font-size: 		14px;
$nav-rounded: 			3px;
$nav-margin: 			5px;
$nav-padding: 			4px 7px;
$nav-background: 		$color-gray;
$nav-background-hover:	$color-base;
$nav-disabled-opacity: 	0.5;

//dots

$dot-width:				10px;
$dot-height:			10px;
$dot-rounded:			30px;
$dot-margin: 			5px 7px;
$dot-background:		$color-gray;
$dot-background-active:	$color-base;

// captions
.owl-item {
  padding: 1px;
  .caption {
    margin: 1px;
    position: absolute;
    background: rgba(70, 70, 70, 0.7);
    border-top: 1px solid rgba(85, 85, 85, 0.7);
    border-right: 1px solid rgba(85, 85, 85, 0.7);
    padding: 10px;
    bottom: 0%;
    @media #{$small-only} {
      max-width: 100%;
    }
    @media #{$medium-only} {
      max-width: 85%;
    }
    @media #{$large-up} {
      max-width: 75%;
    }
    h1 {
      margin: 0;
      @media #{$small-only} {
        font-size: 1rem;
      }
      @media #{$medium-only} {
        font-size: 1.4rem;
      }
      @media #{$large-up} {
        font-size: 1.6rem;
      }
      font-weight: bold;
      color: $white;
    }
    p {
      margin: 0;
      @media #{$small-only} {
        font-size: 0.7rem;
      }
      @media #{$medium-only} {
        font-size: 0.8rem;
      }
      @media #{$large-up} {
        font-size: 1rem;
      }
      color: white;
    }
    a {
      color: $test1;
      text-decoration: underline;
    }
  }
}

@import 'mixins';
@import 'theme';
